<div class="event-wrapper">
    <h1 class="ip-display">"Source IP Address =" <%= @event.sourceIP %></h1>
    <br>
    <h1 class="ip-display">"Destination IP Address =" <%= @event.destinationIP %></h1>

</div>